*{
    margin: 0;
    padding: 0;
 }
  
 .main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)60%,rgba(0,0,0,0.5)60%), url(http://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/1gMtlWjp0tjaJDTAotnHMw/f14cbd55d1e88dcfa208613f57db8c7a/nd002_open_graph.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
 }
  
 .navbar {
       width: 100%;
       margin: auto;
       overflow: hidden;
       background-color: #0b6164;
     }
  
 .intro{
    width: 200px;
    float: left;
    height: 50px;
    padding-top:7px;
 }
  
 .logo{
    color: #9ADBE7;
    font-size: 35px;
    font-family: sans-serif;
    padding-left: 20px;
    float: left;
    margin: auto;
 }
 
 
 ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  
 }
  
 ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 25px;
    font-size: 15px;
 }
  
 ul li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
 }
  
 ul li a:hover{
    color: #78D4CE;
 }
 
  
 .content{
    width: 1000px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    font-family: sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 13.5px;
 }
  
  
 .content h1{
    width: 100%;
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
    text-align: center;
 }
 
 .content h2{
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 14%;
    letter-spacing: 2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
 }
 
 .footer{
    width:100%;
    height:50px;   
    background:#0b6164;
    position: fixed;
   bottom: 0px;
   font-family: sans-serif;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    margin-top: 6px;
    font-weight: bold;
 }
 
 .img1 {
     width: 320px;
    height: 360px;
    display: block;
   margin-left: auto;
   margin-right: auto;
  }
  .img2 {
    width: 205px;
    height: 440px;
    display: block;
   margin-left: auto;
   margin-right: auto;
  }
 